[ req ]
default_md              = sha256
utf8                    = yes
string_mask             = utf8only
prompt                  = no
distinguished_name      = server_dn             # DN template
{% if ca|bool == True %}
req_extensions          = ca_reqext         # Desired extensions
{% else %}
req_extensions          = server_reqext         # Desired extensions
{% endif %}

[ server_dn ]
CN={{ x509_cn }}
{% if x509_organization is defined %}
O={{ x509_organization }}
{% endif %}
{% if x509_locality is defined %}
L={{ x509_locality }}
{% endif %}
{% if x509_province is defined %}
ST={{ x509_province }}
{% endif %}
{% if x509_country is defined %}
C={{ x509_country }}
{% endif %}

[ ca_reqext ]
keyUsage                = critical,keyCertSign,cRLSign
basicConstraints        = critical,CA:true
subjectKeyIdentifier    = hash

[ server_reqext ]
basicConstraints = CA:FALSE
extendedKeyUsage        = {{ x509_extended_key_usage|join(',') }}
subjectKeyIdentifier    = hash
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = {{ x509_cn }}
{% if x509_sans is defined %}
{% for san in x509_sans %}
DNS.{{ loop.index + 1 }} = {{ san }}
{% endfor %}
{% endif %}
