{% if chain is defined %}
{% for cacert in chain %}
{{ lookup('file', playbook_dir + '/' + cacert) }}
{% endfor %}
{% elif remote_chain is defined %}
{% for cacert in __chain.results %}
{{ cacert.content|b64decode -}}
{% endfor %}
{% endif %}
