{{ __key.stdout }}
{% if cert is defined %}
{{ lookup('file', playbook_dir + '/' + cert) }}
{% else %}
{{ _tls_cert.content|b64decode -}}
{% endif %}
{% if chain is defined %}
{% for cacert in chain %}
{{ lookup('file', playbook_dir + '/' + cacert) }}
{% endfor %}
{% else %}
{% for cacert in __chain.results %}
{{ cacert.content|b64decode -}}
{% endfor %}
{% endif %}
